@font-face {
  font-family: "Whitney Book";
  src: url('/fonts/Whitney-Book.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src: url('/fonts/Whitney-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Bold";
  src: url('/fonts/Gotham-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
